Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb

! Gtk.theme-name: Adwaita-dark
! Gtk.font-name: "Space Mono" 12
! Gtk.icon-theme-name: Adwaita
! Gtk.cursor-theme-name: Adwaita

! *.background: #32302f
! *.foreground: #ebdbb2
! *color0: #282828
! *color1: #cc241d
! *color2: #98971a
! *color3: #d79921
! *color4: #458588
! *color5: #b16286
! *color6: #689d6a
! *color7: #a89984
! *color8: #928374
! *color9: #fb4934
! *color10: #b8bb26
! *color11: #fabd2f
! *color12: #83a598
! *color13: #d3869b
! *color14: #8ec07c
! *color15: #ebdbb2
! 
! URxvt*.background: #32302f
! URxvt*.foreground: #ebdbb2
! URxvt*color0: #282828
! URxvt*color1: #cc241d
! URxvt*color2: #98971a
! URxvt*color3: #d79921
! URxvt*color4: #458588
! URxvt*color5: #b16286
! URxvt*color6: #689d6a
! URxvt*color7: #a89984
! URxvt*color8: #928374
! URxvt*color9: #fb4934
! URxvt*color10: #b8bb26
! URxvt*color11: #fabd2f
! URxvt*color12: #83a598
! URxvt*color13: #d3869b
! URxvt*color14: #8ec07c
! URxvt*color15: #ebdbb2